body{
  background-image: url(_.jpg);
  text-align: center;
  font-family: bolder;
  font-size: 50px;
  color:white;
  background-size: cover;
}
body nav{
  display:inline-block;
  background:transparent;
  justify-content: space-between;
  font-size:30px;
  width:100%;
  
  
}
body nav lebel{
  font-size: 50px;
  float:left;
  color:#222;
}
body nav ul{
  float:right;
  display:flex;
  flex-direction: row;
  font-size: 20px;
  list-style:none;
 
  
}
body nav ul li{
  margin-right: 20px;
}